#description {
    font-size: 1rem;
    font-weight: 600;
    opacity: 0.8;
}

#temp {
    font-size: 4rem;
    font-weight: 550;
    color: rgb(0, 183, 255);
}

#feelsLike {
    font-size: 1rem;
    font-weight: 500;
    opacity: 0.8;
    margin-top: 12px;
}

#humidity, #windSpeed, #visibility {
    font-size: 1rem;
    font-weight: 600;
    background-color: rgba(128, 128, 128, 0.2);
    padding: 8px 16px;
    width: 100%;
    border-radius: 8px;
}

#weatherCard {
    display: none;
}
